In [1]:
from ipm_util import log_to_dataframe

In [2]:
log_to_dataframe('./mpi_barrier_4ranks.ipm.xml')

name  MPI_Init  MPI_Finalize  MPI_Comm_rank  MPI_Comm_size  MPI_Barrier
rank
0          0.0           0.0       0.000004       0.000009      0.00093
1          0.0           0.0       0.000003       0.000009      3.01000
2          0.0           0.0       0.000003       0.000005      3.00590
3          0.0           0.0       0.000538       0.000004      3.00930